body {
	margin: 0;
}
* {
	box-sizing: border-box;
	font-family: sans-serif;
}
h1 {
	width: 100%;
	height: 200px;
	text-align: center;
	font-size: 10vw;
	margin: 0;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	color: #333131;
	-webkit-text-stroke: 2px #706f6f;
	animation: rainbow 60s linear infinite;
}
#memory-game {
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100vh;
	background-color: #1e1d1d;
	justify-content: space-between;
	align-items: center;
}
.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;
	padding: 50px;
}
.box h2 {
	width: 100%;
	text-align: center;
	color: #f3580c;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 3px;
}
.box__field {
	width: 20%;
	height: 100px;
	background-color: rgb(39, 39, 39);
	color: #d7d7d7;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	margin: 10px;
	transition: opacity 0.2s, background 0.2s, box-shadow 0.2s, color 0.2s,
		color 0.2s, transform 0.2s, border 0.2s;
	background: #1e1d1d;
	border-radius: 5px;
	border: 1px solid #d7d7d7;
}
.box--player .box__field:hover {
	cursor: pointer;
	color: #f3580c;
	border-color: #f3580c;
	z-index: 1;
}
.box--player .box__field:active {
	background: #f3580c;
	color: #ffffff;
}
.box__field.highlighted {
	background-color: #f3580c;
	color: #fff;
	z-index: 2;
}

.select-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

select {
	text-align: center;
	appearance: none;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	background: rebeccapurple;
	opacity: 0;
}
select[disabled] {
	pointer-events: none;
}
.select {
	z-index: 1;
	position: relative;
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding-right: 70px !important;
}
.select[disabled] {
	pointer-events: none;
	opacity: 0.2;
}
.select:hover,
select:hover {
	cursor: pointer;
}
.select:hover:after {
	background: #f3580c;
}
.select::after {
	content: "\25bc";
	position: absolute;
	top: 0px;
	right: 0px;
	transition: all 0.25s ease 0s;
	pointer-events: none;
	color: white;
	background: transparent;
	font-size: 12px;
	background: #6d6c6c;
	z-index: -1;
	height: 100%;
	width: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button:hover {
	cursor: pointer;
	color: #f3580c;
}
.button {
	padding: 15px 50px;
	font-size: 24px;
	border: none;
	color: #d7d7d7;
	transition: 0.2s;
	margin: 0 10px;
	background: #333131;
	border-radius: 5px;
	border: 1px solid;
}
.button:focus,
.button:active {
	outline: none;
}
.button:active {
	transform: scale(0.98);
	box-shadow: inset 0px 0px 0 3px #e6550f;
}
.button--start {
	animation: highlight 2s infinite;
}
.button--start[disabled] {
	opacity: 0.2;
	cursor: auto;
	background: #f3580c;
	color: #fff;
	animation: none;
}
.button--start[disabled]:hover {
	cursor: auto;
}

.popup {
	width: 100%;
	height: 100vh;
	background-color: #1e1d1dd2;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	opacity: 0;
	transition: z-index 0s 0.5s, opacity 0s 0.5s;
}
.popup__inner {
	min-width: 500px;
	min-height: 380px;
	background: #1e1d1d;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	box-shadow: 0px 0px 0px #666666;
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.5s 0s, transform 0.5s 0s, box-shadow 0.5s 0s;
	border: 1px solid #666666;
}
.popup.visible {
	z-index: 2;
	opacity: 1;
	transition: z-index 0s 0s, opacity 0.5s 0s;
}
.popup.visible .popup__inner {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.5s 0.5s, transform 0.5s 0.5s, box-shadow 0.5s 0.7s;
	box-shadow: -11px -11px 0px #666666;
}
.popup__inner h2 {
	color: #d7d7d7;
}

@media (max-width: 991.98px) {
	#memory-game {
		flex-direction: column;
	}
	.box {
		width: 100%;
		padding: 0px;
	}
	.box__field {
		font-size: 18px;
		height: 60px;
		margin: 2px;
	}
	.button {
		padding: 10px 33px;
		font-size: 19px;
		margin-bottom: 10px;
		width: 81%;
	}
	.select-wrapper {
		margin-bottom: 120px;
		margin-top: 50px;
		flex-direction: column;
		align-items: center;
	}

	.select:after {
		top: -11px;
	}
}

@keyframes highlight {
	50% {
		border-color: #f3580c;
		background: #f3580c;
	}
}

@keyframes rainbow {
	10% {
		-webkit-text-stroke: 2px #706f6f;
	}
	20% {
		-webkit-text-stroke: 2px #a41505;
	}
	30% {
		-webkit-text-stroke: 2px #f3bd0c;
	}
	40% {
		-webkit-text-stroke: 2px #ffffff;
	}
	50% {
		-webkit-text-stroke: 2px #0c61f3;
	}
	60% {
		-webkit-text-stroke: 2px #1f0cf3;
	}
	70% {
		-webkit-text-stroke: 2px #ae0cf3;
	}
	80% {
		-webkit-text-stroke: 2px #f30c97;
	}

	90% {
		-webkit-text-stroke: 2px #f3580c;
	}
}
